<a href="https://colab.research.google.com/github/AleRocco2022/Prueba/blob/main/Desafio_APIS_Rocco_Alejandro_Daniel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from google.colab import drive
import os
drive.mount('/content/gdrive')
# Establecer ruta de acceso en drive
import os
print(os.getcwd())
os.chdir("/content/gdrive/My Drive")

Mounted at /content/gdrive
/content

In [17]:
%cd '/content/gdrive/My Drive/'

/content/gdrive/My Drive

# JSON

In [19]:
import json
file_json=open('ejemplo_1.json')
data=json.load(file_json)
data

{'Duration': {'0': 60, '1': 60, '2': 60, '3': 45, '4': 45, '5': 60},
 'Pulse': {'0': 110, '1': 117, '2': 103, '3': 109, '4': 117, '5': 102},
 'Maxpulse': {'0': 130, '1': 145, '2': 135, '3': 175, '4': 148, '5': 127},
 'Calories': {'0': 409, '1': 479, '2': 340, '3': 282, '4': 406, '5': 300}}

In [20]:
x='''{
  "Name": "Jennifer Smith",
  "Contact Number": 7867567898,
  "Email":"jen123@gmail.com",
  "Hobbies": ["Reading", "Sketching", "Horse Riding"]
}
'''
y= json.loads(x)
y

{'Name': 'Jennifer Smith',
 'Contact Number': 7867567898,
 'Email': 'jen123@gmail.com',
 'Hobbies': ['Reading', 'Sketching', 'Horse Riding']}

In [21]:
a=pd.read_json('ejemplo_1.json',orient='column')
print(type(a))
a.head()

<class 'pandas.core.frame.DataFrame'>

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406

In [22]:
pd.read_json('ejemplo_1.json',orient='index')

            0    1    2    3    4    5
Duration   60   60   60   45   45   60
Pulse     110  117  103  109  117  102
Maxpulse  130  145  135  175  148  127
Calories  409  479  340  282  406  300

# APIS

In [23]:
import requests
import json
import pandas as pd
url='https://raw.githubusercontent.com/bttmly/nba/master/data/teams.json'
df= requests.get(url)
print(df)

<Response [200]>

In [24]:
print(len(df.text))
df.text

4626

'[\n  {\n    "teamId": 1610612737,\n    "abbreviation": "ATL",\n    "teamName": "Atlanta Hawks",\n    "simpleName": "Hawks",\n    "location": "Atlanta"\n  },\n  {\n    "teamId": 1610612738,\n    "abbreviation": "BOS",\n    "teamName": "Boston Celtics",\n    "simpleName": "Celtics",\n    "location": "Boston"\n  },\n  {\n    "teamId": 1610612751,\n    "abbreviation": "BKN",\n    "teamName": "Brooklyn Nets",\n    "simpleName": "Nets",\n    "location": "Brooklyn"\n  },\n  {\n    "teamId": 1610612766,\n    "abbreviation": "CHA",\n    "teamName": "Charlotte Hornets",\n    "simpleName": "Hornets",\n    "location": "Charlotte"\n  },\n  {\n    "teamId": 1610612741,\n    "abbreviation": "CHI",\n    "teamName": "Chicago Bulls",\n    "simpleName": "Bulls",\n    "location": "Chicago"\n  },\n  {\n    "teamId": 1610612739,\n    "abbreviation": "CLE",\n    "teamName": "Cleveland Cavaliers",\n    "simpleName": "Cavaliers",\n    "location": "Cleveland"\n  },\n  {\n    "teamId": 1610612742,\n    "abbreviation": "DAL",\n    "teamName": "Dallas Mavericks",\n    "simpleName": "Mavericks",\n    "location": "Dallas"\n  },\n  {\n    "teamId": 1610612743,\n    "abbreviation": "DEN",\n    "teamName": "Denver Nuggets",\n    "simpleName": "Nuggets",\n    "location": "Denver"\n  },\n  {\n    "teamId": 1610612765,\n    "abbreviation": "DET",\n    "teamName": "Detroit Pistons",\n    "simpleName": "Pistons",\n    "location": "Detroit"\n  },\n  {\n    "teamId": 1610612744,\n    "abbreviation": "GSW",\n    "teamName": "Golden State Warriors",\n    "simpleName": "Warriors",\n    "location": "Golden State"\n  },\n  {\n    "teamId": 1610612745,\n    "abbreviation": "HOU",\n    "teamName": "Houston Rockets",\n    "simpleName": "Rockets",\n    "location": "Houston"\n  },\n  {\n    "teamId": 1610612754,\n    "abbreviation": "IND",\n    "teamName": "Indiana Pacers",\n    "simpleName": "Pacers",\n    "location": "Indiana"\n  },\n  {\n    "teamId": 1610612746,\n    "abbreviation": "LAC",\n    "teamName": "Los Angeles Clippers",\n    "simpleName": "Clippers",\n    "location": "Los Angeles"\n  },\n  {\n    "teamId": 1610612747,\n    "abbreviation": "LAL",\n    "teamName": "Los Angeles Lakers",\n    "simpleName": "Lakers",\n    "location": "Los Angeles"\n  },\n  {\n    "teamId": 1610612763,\n    "abbreviation": "MEM",\n    "teamName": "Memphis Grizzlies",\n    "simpleName": "Grizzlies",\n    "location": "Memphis"\n  },\n  {\n    "teamId": 1610612748,\n    "abbreviation": "MIA",\n    "teamName": "Miami Heat",\n    "simpleName": "Heat",\n    "location": "Miami"\n  },\n  {\n    "teamId": 1610612749,\n    "abbreviation": "MIL",\n    "teamName": "Milwaukee Bucks",\n    "simpleName": "Bucks",\n    "location": "Milwaukee"\n  },\n  {\n    "teamId": 1610612750,\n    "abbreviation": "MIN",\n    "teamName": "Minnesota Timberwolves",\n    "simpleName": "Timberwolves",\n    "location": "Minnesota"\n  },\n  {\n    "teamId": 1610612740,\n    "abbreviation": "NOP",\n    "teamName": "New Orleans Pelicans",\n    "simpleName": "Pelicans",\n    "location": "New Orleans"\n  },\n  {\n    "teamId": 1610612752,\n    "abbreviation": "NYK",\n    "teamName": "New York Knicks",\n    "simpleName": "Knicks",\n    "location": "New York"\n  },\n  {\n    "teamId": 1610612760,\n    "abbreviation": "OKC",\n    "teamName": "Oklahoma City Thunder",\n    "simpleName": "Thunder",\n    "location": "Oklahoma City"\n  },\n  {\n    "teamId": 1610612753,\n    "abbreviation": "ORL",\n    "teamName": "Orlando Magic",\n    "simpleName": "Magic",\n    "location": "Orlando"\n  },\n  {\n    "teamId": 1610612755,\n    "abbreviation": "PHI",\n    "teamName": "Philadelphia 76ers",\n    "simpleName": "76ers",\n    "location": "Philadelphia"\n  },\n  {\n    "teamId": 1610612756,\n    "abbreviation": "PHX",\n    "teamName": "Phoenix Suns",\n    "simpleName": "Suns",\n    "location": "Phoenix"\n  },\n  {\n    "teamId": 1610612757,\n    "abbreviation": "POR",\n    "teamName": "Portland Trail Blazers",\n    "simpleName": "Trail Blazers",\n    "location": "Portland"\n  },\n  {\n    "teamId": 1610612758,\n    "abbreviation": "SAC",\n    "teamName": "Sacramento Kings",\n    "simpleName": "Kings",\n    "location": "Sacramento"\n  },\n  {\n    "teamId": 1610612759,\n    "abbreviation": "SAS",\n    "teamName": "San Antonio Spurs",\n    "simpleName": "Spurs",\n    "location": "San Antonio"\n  },\n  {\n    "teamId": 1610612761,\n    "abbreviation": "TOR",\n    "teamName": "Toronto Raptors",\n    "simpleName": "Raptors",\n    "location": "Toronto"\n  },\n  {\n    "teamId": 1610612762,\n    "abbreviation": "UTA",\n    "teamName": "Utah Jazz",\n    "simpleName": "Jazz",\n    "location": "Utah"\n  },\n  {\n    "teamId": 1610612764,\n    "abbreviation": "WAS",\n    "teamName": "Washington Wizards",\n    "simpleName": "Wizards",\n    "location": "Washington"\n  }\n]'

In [25]:
texto=df.text
json.loads(texto)

[{'teamId': 1610612737,
  'abbreviation': 'ATL',
  'teamName': 'Atlanta Hawks',
  'simpleName': 'Hawks',
  'location': 'Atlanta'},
 {'teamId': 1610612738,
  'abbreviation': 'BOS',
  'teamName': 'Boston Celtics',
  'simpleName': 'Celtics',
  'location': 'Boston'},
 {'teamId': 1610612751,
  'abbreviation': 'BKN',
  'teamName': 'Brooklyn Nets',
  'simpleName': 'Nets',
  'location': 'Brooklyn'},
 {'teamId': 1610612766,
  'abbreviation': 'CHA',
  'teamName': 'Charlotte Hornets',
  'simpleName': 'Hornets',
  'location': 'Charlotte'},
 {'teamId': 1610612741,
  'abbreviation': 'CHI',
  'teamName': 'Chicago Bulls',
  'simpleName': 'Bulls',
  'location': 'Chicago'},
 {'teamId': 1610612739,
  'abbreviation': 'CLE',
  'teamName': 'Cleveland Cavaliers',
  'simpleName': 'Cavaliers',
  'location': 'Cleveland'},
 {'teamId': 1610612742,
  'abbreviation': 'DAL',
  'teamName': 'Dallas Mavericks',
  'simpleName': 'Mavericks',
  'location': 'Dallas'},
 {'teamId': 1610612743,
  'abbreviation': 'DEN',
  'teamName': 'Denver Nuggets',
  'simpleName': 'Nuggets',
  'location': 'Denver'},
 {'teamId': 1610612765,
  'abbreviation': 'DET',
  'teamName': 'Detroit Pistons',
  'simpleName': 'Pistons',
  'location': 'Detroit'},
 {'teamId': 1610612744,
  'abbreviation': 'GSW',
  'teamName': 'Golden State Warriors',
  'simpleName': 'Warriors',
  'location': 'Golden State'},
 {'teamId': 1610612745,
  'abbreviation': 'HOU',
  'teamName': 'Houston Rockets',
  'simpleName': 'Rockets',
  'location': 'Houston'},
 {'teamId': 1610612754,
  'abbreviation': 'IND',
  'teamName': 'Indiana Pacers',
  'simpleName': 'Pacers',
  'location': 'Indiana'},
 {'teamId': 1610612746,
  'abbreviation': 'LAC',
  'teamName': 'Los Angeles Clippers',
  'simpleName': 'Clippers',
  'location': 'Los Angeles'},
 {'teamId': 1610612747,
  'abbreviation': 'LAL',
  'teamName': 'Los Angeles Lakers',
  'simpleName': 'Lakers',
  'location': 'Los Angeles'},
 {'teamId': 1610612763,
  'abbreviation': 'MEM',
  'teamName': 'Memphis Grizzlies',
  'simpleName': 'Grizzlies',
  'location': 'Memphis'},
 {'teamId': 1610612748,
  'abbreviation': 'MIA',
  'teamName': 'Miami Heat',
  'simpleName': 'Heat',
  'location': 'Miami'},
 {'teamId': 1610612749,
  'abbreviation': 'MIL',
  'teamName': 'Milwaukee Bucks',
  'simpleName': 'Bucks',
  'location': 'Milwaukee'},
 {'teamId': 1610612750,
  'abbreviation': 'MIN',
  'teamName': 'Minnesota Timberwolves',
  'simpleName': 'Timberwolves',
  'location': 'Minnesota'},
 {'teamId': 1610612740,
  'abbreviation': 'NOP',
  'teamName': 'New Orleans Pelicans',
  'simpleName': 'Pelicans',
  'location': 'New Orleans'},
 {'teamId': 1610612752,
  'abbreviation': 'NYK',
  'teamName': 'New York Knicks',
  'simpleName': 'Knicks',
  'location': 'New York'},
 {'teamId': 1610612760,
  'abbreviation': 'OKC',
  'teamName': 'Oklahoma City Thunder',
  'simpleName': 'Thunder',
  'location': 'Oklahoma City'},
 {'teamId': 1610612753,
  'abbreviation': 'ORL',
  'teamName': 'Orlando Magic',
  'simpleName': 'Magic',
  'location': 'Orlando'},
 {'teamId': 1610612755,
  'abbreviation': 'PHI',
  'teamName': 'Philadelphia 76ers',
  'simpleName': '76ers',
  'location': 'Philadelphia'},
 {'teamId': 1610612756,
  'abbreviation': 'PHX',
  'teamName': 'Phoenix Suns',
  'simpleName': 'Suns',
  'location': 'Phoenix'},
 {'teamId': 1610612757,
  'abbreviation': 'POR',
  'teamName': 'Portland Trail Blazers',
  'simpleName': 'Trail Blazers',
  'location': 'Portland'},
 {'teamId': 1610612758,
  'abbreviation': 'SAC',
  'teamName': 'Sacramento Kings',
  'simpleName': 'Kings',
  'location': 'Sacramento'},
 {'teamId': 1610612759,
  'abbreviation': 'SAS',
  'teamName': 'San Antonio Spurs',
  'simpleName': 'Spurs',
  'location': 'San Antonio'},
 {'teamId': 1610612761,
  'abbreviation': 'TOR',
  'teamName': 'Toronto Raptors',
  'simpleName': 'Raptors',
  'location': 'Toronto'},
 {'teamId': 1610612762,
  'abbreviation': 'UTA',
  'teamName': 'Utah Jazz',
  'simpleName': 'Jazz',
  'location': 'Utah'},
 {'teamId': 1610612764,
  'abbreviation': 'WAS',
  'teamName': 'Washington Wizards',
  'simpleName': 'Wizards',
  'location': 'Washington'}]

In [26]:
jsondata=json.loads(texto)
df2=pd.DataFrame.from_dict(jsondata)
df2.head()

       teamId abbreviation           teamName simpleName   location
0  1610612737          ATL      Atlanta Hawks      Hawks    Atlanta
1  1610612738          BOS     Boston Celtics    Celtics     Boston
2  1610612751          BKN      Brooklyn Nets       Nets   Brooklyn
3  1610612766          CHA  Charlotte Hornets    Hornets  Charlotte
4  1610612741          CHI      Chicago Bulls      Bulls    Chicago

In [27]:
df2.shape

(30, 5)

In [28]:
api_key='AIzaSyDlhWz26x0nbDpjX9nprXt3ETNmS_XgtEw'# La borrare despues asi que no se preocupen
# Pueden guardar esta key en un archivo encriptado o en un archivo de configuration para que no se puede extraer de ningun lado

Para obtener documentacion de la API de google pueden ir a: https://github.com/googleapis/google-api-python-client

In [29]:
# Instalando libreria
!pip install google-api-python-client

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-api-python-client in /usr/local/lib/python3.9/dist-packages (2.84.0)
Requirement already satisfied: google-auth<3.0.0dev,>=1.19.0 in /usr/local/lib/python3.9/dist-packages (from google-api-python-client) (2.17.3)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.9/dist-packages (from google-api-python-client) (2.11.0)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.9/dist-packages (from google-api-python-client) (0.21.0)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in /usr/local/lib/python3.9/dist-packages (from google-api-python-client) (0.1.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /usr/local/lib/python3.9/dist-packages (from google-api-python-client) (4.1.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (3.20.3)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.27.1)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (1.59.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (5.3.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /usr/local/lib/python3.9/dist-packages (from httplib2<1dev,>=0.15.0->google-api-python-client) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=1.19.0->google-api-python-client) (0.4.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (1.26.15)

Vamos a la seccion docs en la pagina de Github Seleccionamos la Opcion Docs> Getting Started

Podemos explorar el metodo channels: https://googleapis.github.io/google-api-python-client/docs/dyn/youtube_v3.channels.html

Si quieren encontrar mayor información sobre la google de api pueden ir a está página:

https://developers.google.com/youtube/v3

En este ejemplo particular usaremos statistics, por si requerimos obtener las estadisticas de algun canal particular

In [30]:
from googleapiclient.discovery import build
api_key='AIzaSyDlhWz26x0nbDpjX9nprXt3ETNmS_XgtEw' # La borrare despues asi que no se preocupen
youtube_david= build('youtube','v3',developerKey=api_key)

In [32]:
request=youtube_david.channels().list(
    part='statistics',
    forUsername= 'sentdex' # puede reemplazarse por cualquiera
)

In [33]:
response=request.execute()
print(response) # Obtenemos informacion

{'kind': 'youtube#channelListResponse', 'etag': 'cRwjcWKgMuyq691NMJfqzuf1q_Y', 'pageInfo': {'totalResults': 1, 'resultsPerPage': 5}, 'items': [{'kind': 'youtube#channel', 'etag': '_vNFTTQWQYGSeo4k2nBp7OQ_oME', 'id': 'UCfzlCWGWYyIQ0aLC5w48gBQ', 'statistics': {'viewCount': '109260347', 'subscriberCount': '1230000', 'hiddenSubscriberCount': False, 'videoCount': '1239'}}]}

In [34]:
response['pageInfo']

{'totalResults': 1, 'resultsPerPage': 5}

In [35]:
response['items']

[{'kind': 'youtube#channel',
  'etag': '_vNFTTQWQYGSeo4k2nBp7OQ_oME',
  'id': 'UCfzlCWGWYyIQ0aLC5w48gBQ',
  'statistics': {'viewCount': '109260347',
   'subscriberCount': '1230000',
   'hiddenSubscriberCount': False,
   'videoCount': '1239'}}]

In [36]:
# Miremos en un canal diferente por ejemplo DW
request2=youtube_david.channels().list(
    part='statistics',
    forUsername= 'sentdex' # puede reemplazarse por cualquiera
)
response2=request2.execute()
print(response2) # Obtenemos informacion
print(response2['items'])
print(response2['pageInfo'])

{'kind': 'youtube#channelListResponse', 'etag': 'cRwjcWKgMuyq691NMJfqzuf1q_Y', 'pageInfo': {'totalResults': 1, 'resultsPerPage': 5}, 'items': [{'kind': 'youtube#channel', 'etag': '_vNFTTQWQYGSeo4k2nBp7OQ_oME', 'id': 'UCfzlCWGWYyIQ0aLC5w48gBQ', 'statistics': {'viewCount': '109260347', 'subscriberCount': '1230000', 'hiddenSubscriberCount': False, 'videoCount': '1239'}}]}
[{'kind': 'youtube#channel', 'etag': '_vNFTTQWQYGSeo4k2nBp7OQ_oME', 'id': 'UCfzlCWGWYyIQ0aLC5w48gBQ', 'statistics': {'viewCount': '109260347', 'subscriberCount': '1230000', 'hiddenSubscriberCount': False, 'videoCount': '1239'}}]
{'totalResults': 1, 'resultsPerPage': 5}

# SQL Lite

In [37]:
import pandas as pd
import sqlite3

sql= "SELECT name FROM sqlite_master WHERE type='table'"
# Leer el archivo sqllite y convertirlo a dataframe
con =sqlite3.connect("nba_salary.sqlite")
df=pd.read_sql_query(sql,con)
# Verificar el resultado en un dataframe
print(df)
con.close()

                    name
0  NBA_season1718_salary
1          Seasons_Stats

In [38]:
# Extrar la tabla NBA_season1718_salary
con =sqlite3.connect("nba_salary.sqlite")
df=pd.read_sql_query('SELECT * FROM NBA_season1718_salary',con)
df.head()

    X1          Player   Tm  season17_18
0  1.0   Stephen Curry  GSW   34682550.0
1  2.0    LeBron James  CLE   33285709.0
2  3.0    Paul Millsap  DEN   31269231.0
3  4.0  Gordon Hayward  BOS   29727900.0
4  5.0   Blake Griffin  DET   29512900.0

In [39]:
df.shape

(573, 4)

In [40]:
import sqlalchemy as db
engine= db.create_engine('sqlite:///nba_salary.sqlite')
connection=engine.connect()

In [51]:
import pandas as pd
df=pd.read_sql_query('SELECT * From Seasons_Stats',con)

In [52]:
df.head()

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1.0,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2.0,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3.0,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4.0,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

# Consultas básicas

In [53]:
import pandas as pd
df=pd.read_sql_query('SELECT * From NBA_season1718_salary',con)
df.head()

    X1          Player   Tm  season17_18
0  1.0   Stephen Curry  GSW   34682550.0
1  2.0    LeBron James  CLE   33285709.0
2  3.0    Paul Millsap  DEN   31269231.0
3  4.0  Gordon Hayward  BOS   29727900.0
4  5.0   Blake Griffin  DET   29512900.0

In [54]:
prueba1=df.sort_values(by='season17_18',ascending=False)
prueba1= prueba1[prueba1['season17_18']>10000000]
prueba1.tail(10)

        X1            Player   Tm  season17_18
112  113.0        Alec Burks  UTA   10845506.0
113  114.0       Patty Mills  SAS   10714286.0
114  115.0      Kelly Olynyk  MIA   10607169.0
115  116.0         Omer Asik  CHI   10595505.0
118  119.0  Bojan Bogdanovic  IND   10500000.0
116  117.0     Terrence Ross  ORL   10500000.0
117  118.0   Mirza Teletovic  MIL   10500000.0
119  120.0         Jon Leuer  DET   10497319.0
120  121.0     Iman Shumpert  SAC   10337079.0
121  122.0  Maurice Harkless  POR   10162922.0

In [55]:
prueba1

        X1            Player   Tm  season17_18
0      1.0     Stephen Curry  GSW   34682550.0
1      2.0      LeBron James  CLE   33285709.0
2      3.0      Paul Millsap  DEN   31269231.0
3      4.0    Gordon Hayward  BOS   29727900.0
4      5.0     Blake Griffin  DET   29512900.0
..     ...               ...  ...          ...
116  117.0     Terrence Ross  ORL   10500000.0
117  118.0   Mirza Teletovic  MIL   10500000.0
119  120.0         Jon Leuer  DET   10497319.0
120  121.0     Iman Shumpert  SAC   10337079.0
121  122.0  Maurice Harkless  POR   10162922.0

[122 rows x 4 columns]

In [57]:
import pandas as pd
df=pd.read_sql_query('SELECT * From Seasons_Stats',con)
print(df.shape)
print(prueba1.shape)
df.head()

(24691, 53)
(122, 4)

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1.0,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2.0,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3.0,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4.0,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [58]:
vector_binario=df.Player.isin(prueba1.Player)
sum(vector_binario)
prueba2 = df[vector_binario]
# Filtro 2017
prueba2= prueba2[prueba2['Year']==2017]
prueba2

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24100,24100.0,2017.0,Steven Adams,C,23.0,OKC,80.0,NaN,2389.0,16.5,...,0.611,NaN,NaN,615.0,86.0,NaN,NaN,NaN,195.0,905.0
24104,24104.0,2017.0,LaMarcus Aldridge,PF,31.0,SAS,72.0,NaN,2335.0,18.6,...,0.812,NaN,NaN,524.0,139.0,NaN,NaN,NaN,158.0,1243.0
24114,24114.0,2017.0,Ryan Anderson,PF,28.0,HOU,72.0,NaN,2116.0,13.5,...,0.860,NaN,NaN,330.0,68.0,NaN,NaN,NaN,142.0,979.0
24115,24115.0,2017.0,Giannis Antetokounmpo,SF,22.0,MIL,80.0,NaN,2845.0,26.1,...,0.770,NaN,NaN,700.0,434.0,NaN,NaN,NaN,246.0,1832.0
24116,24116.0,2017.0,Carmelo Anthony,SF,32.0,NYK,74.0,NaN,2538.0,17.9,...,0.833,NaN,NaN,436.0,213.0,NaN,NaN,NaN,198.0,1659.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24654,24654.0,2017.0,Russell Westbrook,PG,28.0,OKC,81.0,NaN,2802.0,30.6,...,0.845,NaN,NaN,864.0,840.0,NaN,NaN,NaN,190.0,2558.0
24657,24657.0,2017.0,Hassan Whiteside,C,27.0,MIA,77.0,NaN,2513.0,22.6,...,0.628,NaN,NaN,1088.0,57.0,NaN,NaN,NaN,226.0,1309.0
24670,24670.0,2017.0,Marvin Williams,PF,30.0,CHO,76.0,NaN,2295.0,13.7,...,0.873,NaN,NaN,498.0,106.0,NaN,NaN,NaN,134.0,849.0
24685,24685.0,2017.0,Thaddeus Young,PF,28.0,IND,74.0,NaN,2237.0,14.9,...,0.523,NaN,NaN,449.0,122.0,NaN,NaN,NaN,135.0,814.0
24686,24686.0,2017.0,Cody Zeller,PF,24.0,CHO,62.0,NaN,1725.0,16.7,...,0.679,NaN,NaN,405.0,99.0,NaN,NaN,NaN,189.0,639.0

In [59]:
# Chequeando
print('Numero de players en dataset filtrado:',len(prueba2.Player.unique()))# debe dar 122
prueba2[prueba2['Player']=='Stephen Curry'] # Debe aparecer solo 1

Numero de players en dataset filtrado: 120

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24216,24216.0,2017.0,Stephen Curry,PG,28.0,GSW,79.0,NaN,2638.0,24.6,...,0.898,NaN,NaN,353.0,523.0,NaN,NaN,NaN,183.0,1999.0

In [60]:
print('Promedio total de puntos:',prueba2.PTS.mean())
print('Promedio total de asistencias:',prueba2.AST.mean())
print('Promedio total de personal fouls:',prueba2.PF.mean())

Promedio total de puntos: 992.776119402985
Promedio total de asistencias: 203.86567164179104
Promedio total de personal fouls: 146.58955223880596

In [61]:
dat_f=prueba2.groupby('Player')[['PTS','AST']].mean()
dat_f

                    PTS    AST
Player
Al Horford        952.0  337.0
Alec Burks        283.0   30.0
Allen Crabbe      845.0   93.0
Amir Johnson      520.0  140.0
Andre Drummond   1105.0   89.0
...                 ...    ...
Tyson Chandler    397.0   30.0
Victor Oladipo   1067.0  176.0
Wesley Matthews   986.0  210.0
Wilson Chandler  1117.0  141.0
Zach Randolph    1028.0  122.0

[120 rows x 2 columns]